.modal-dialog-slideout {
    position: fixed;
    right: 0;
    margin: 0;
    width: 400px;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    top: 0;
  }
  
  .modal.fade.right-modal .modal-dialog-slideout {
    transform: translateX(100%);
  }
  
  .modal.fade.right-modal.show .modal-dialog-slideout {
    transform: translateX(0);
  }
  